.book_input {
  position: relative;
  width: 32.8rem;
  height: 5.6rem;

  @include _1280 {
    width: 23rem;
  }

  @include _870 {
    width: 100%;
  }

  input {
    width: 100%;
    height: 100%;
    background: none;
    border: 2px solid var(--var-_yellow);
    font-size: 1.6rem;
    padding: 1.8rem 1.6rem 1.4rem;
    color: var(--var-black);
    cursor: text;

    @include _1280 {
      font-size: 1.4rem;
    }

    &::placeholder {
      color: var(--var-light_black);
    }
  }

  span {
    position: absolute;
    left: 5%;
    top: -15%;
    display: block;
    color: var(--var-black);
    font-size: 1.2rem;
    background: var(--var-white);
    padding: 0 .5rem;

    @include _1280 {
      font-size: 1rem;
    }
  }
}