main.book_page {
  padding: 11.3rem 13.4rem;

  @include _1280 {
    padding: 10rem 5rem;
  }

  span, p, h1, h2 {
    color: var(--var-black);
  }

  section {
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include _870 {
      margin-bottom: 7rem;
    }

    &:last-child {
      margin-bottom: 0;
      flex-direction: row;
    }
  }

  h2 {
    font-size: 2.4rem;
    font-weight: 600;
  }

  .title_block {
    gap: 1rem;

    h1 {
      font-size: 3.6rem;
      font-weight: 600;
    }

    p {
      font-size: 2.4rem;
      text-align: center;
    }
  }

  .booking_block {
    &__title span {
      font-size: 1.4rem;
    }

    &__wrap {
      gap: 2rem 3rem;
      flex-wrap: wrap;
      display: flex;
      justify-content: center;
    }
  }

  .booking_location {
    width: 100%;

    &_box {
      gap: 5rem;

      @include _1120 {
        gap: 3rem;
      }

      @include _870 {
        width: 70%;
        flex-direction: column;
      }
    }
  }

  .booking_price {
    h2 {
      margin-bottom: 2.9rem;
    }

    &__container {
      gap: 6.8rem;

      @include _1440 {
        align-items: stretch;
      }

      @include _1280{
        gap: 5rem;
      }
    }
  }

  .booking_details {
    @include _870 {
      width: 100%;
    }

    .flex.items-center {
      gap: 5rem;

      @include _1120 {
        gap: 3rem;
      }

      @include _870 {
        width: 70%;
        flex-direction: column;
      }
    }
  }

  .booking_buttons {
    gap: 3rem;
  }
}