.about_container {
  width: 76.7rem;

  h1 {
    font-size: 6.4rem;
    margin-bottom: 3rem;
  }

  p {
    font-size: 3.6rem;
    margin-bottom: 5.6rem;

    a {
      color: var(--var-_yellow);
    }
  }
}