button.rectangular_button {
  font-size: 1.8rem;
  border-radius: 10px;
  background: var(--var-_yellow);
  display: flex;
  align-items: center;
  gap: 1.4rem;
  padding: 1.1rem 2rem 1.1rem 1.5rem;

  span {
    font-size: 1em;
    color: var(--var-white);
  }

  svg {
    width: 1.65rem;
  }
}