article.price_card {
  width: 27.3rem;
  height: 29.7rem;
  border: 1px solid var(--var-black);
  padding: 3.2rem 7.1rem;

  @include _1440 {
    width: 25rem;
    height: auto;
  }

  @include _1120 {
    width: auto;
    padding: 2rem 4rem;
  }

  * {
    color: var(--var-black);
  }

  h5 {
    font-size: 2.1rem;
    font-weight: 600;
  }

  .price {
    gap: 3px;
    svg {
      width: 2.6rem;
      height: 2.2rem;
    }

    span {
      font-size: 3rem;
      font-weight: 600;
    }
  }

  ul li span {
    font-size: 1.6rem;

    @include _1120 {
      display: block;
      text-align: center;
    }
  }

  button {
    color: var(--var-white);
    padding: .9rem 2.7rem;
    background: var(--var-_yellow);
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 600;

    @include _1440 {
      margin-top: 2rem;
    }
  }
}